body{
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to right, #c5e4e4 0%, #bac9dd 100%);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

a{
  color: black;
}

a:hover{
  text-decoration: none;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}


#page-container{
    overflow:auto;
    padding-bottom:90px;
}

.footer {
  position: relative;
  margin-top: -75px; /* negative value of footer height */
  height: 75px;
  clear:both;
  padding-top:20px;
} 

.advertisement{
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 160px;
}