{% load static %}
{% load posts_extras %}

<div class="card">
    <div class="card-header">
      <h5 class="card-title">
        <a href="{% url 'post_detail' post.id %}">{{ post.title|truncatechars:75 }}</a>
      </h5>
      <h6 class="card-subtitle">
        by <a href="{% url 'user_profile' post.author.id %}">
          {{ post.author }}
          </a> | <small class="text-muted">{{ post.created|date:"d.m.Y H:i" }}</small>
      </h6>
    </div>
    <div class="card-body" >
        <p>{{ post.body|truncatechars:500 }}</p>
        {% if post.author == user %}
            <a href="{% url 'post_edit' post.id %}">Edit</a>
            <a href="{% url 'post_delete' post.id %}">Delete</a>
    {% endif %}
    <div id="likes-{{ post.id }}" class="d-flex align-items-stretch">
      {% if post|isliked:user %}
        <img src="{% static 'posts/like_active.png' %}" onClick="likePost('{{ post.id }}')" width="25" height="25">
      {% else %}
        <img src="{% static 'posts/like.png' %}" onClick="likePost('{{ post.id }}')" width="25" height="25">
      {% endif %}
      <p class="text-muted likes-number" style="margin-left: 3px;">{{ post|countlikes }}</p>
     </div>
     {% if post.tags.all %}
       <span class="text-muted">
        tags:
         {% for tag in post.tags.all %}
          <a href="{% url 'post_search' %}?search=%23{{ tag.name|slice:'1:' }}">{{ tag.name }}</a> 
         {% endfor %}
       </span>
      {% endif %}
    </div>
    <div class="card-footer">
      <small class="text-muted likes-number">Comments: {{ post.comments.all.count }}</small>
    </div>
</div>
<br>