{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="article-entry">
	<h2>{{ post.title }}</h2>
	<p>by {{ post.author }} | {{ post.created }} </p>
	<p>{{ post.body }}</p>
</div>
	{% if post.author == user %}
	<a href="{% url 'post_edit' post.id %}">Edit</a>
	<a href="{% url 'post_delete' post.id %}">Delete</a>
	{% endif %}
<div id="likes-{{ post.id }}">
 	<img src="{% static 'posts/like.png' %}" onClick="likePost('likes-{{ post.id }}')" width="25" height="25">
 	<p class="card-text"><small class="text-muted likes-number">{{ post.likes.	count }}</small></p>
</div>
	<p>Back to <a href="{% url 'home' %}">All Articles</a>.</p>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

<div class="card-footer">
	<form action="{% url 'post_detail' post.id %}" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-success ml-2" type="submit">Send</button>
	</form>
</div>

<div class="card-footer">
	{% for comment in post.comments.all %}
		<p>
			<span class="font-weight-bold">{{ comment.author }} &middot;</span>
			{{ comment }}
		</p>
	{% endfor %}
</div>
{% endblock content %}
