{% extends 'base.html' %}
{% load static %}
{% load posts_extras %}

{% block content %}

{% if posts.count < 2 %}
	<h1>Found: {{ posts.count }} post </h1>
{% else %}
	<h1>Found: {{ posts.count }} posts </h1>
{% endif %}

<div style="margin-top: 4vh;">
    {% for post in posts %}
        <div class="card">
            <div class="card-header">
              <h5 class="card-title">
                <a href="{% url 'post_detail' post.id %}">{{ post.title|truncatechars:75 }}</a>
              </h5>
              <h6 class="card-subtitle">
                by <a href="{% url 'user_profile' post.author.id %}">
                  {{ post.author }}
                  </a> | <small class="text-muted">{{ post.created|date:"d.m.Y H:i" }}</small>
              </h6>
            </div>
            <div class="card-body" >
                <p>{{ post.body|truncatechars:500 }}</p>
                {% if post.author == user %}
                    <a href="{% url 'post_edit' post.id %}">Edit</a>
                    <a href="{% url 'post_delete' post.id %}">Delete</a>
            {% endif %}
         	  <div id="likes-{{ post.id }}" class="d-flex align-items-stretch">
              {% if post|isliked:user %}
                <img src="{% static 'posts/like_active.png' %}" onClick="likePost('{{ post.id }}')" width="25" height="25">
              {% else %}
                <img src="{% static 'posts/like.png' %}" onClick="likePost('{{ post.id }}')" width="25" height="25">
              {% endif %}
              <p class="text-muted likes-number" style="margin-left: 3px;">{{ post|countlikes }}</p>
             </div>
            </div>
            <div class="card-footer">
              <small class="text-muted likes-number">Comments: {{ post.comments.all.count }}</small>
            </div>
        </div>
        <br>
    {% endfor %}
</div>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
      </li>
    {% endif %}
    {% if page_obj.number > 1 %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
      </li>
    {% endif %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}