{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-4 center-profile-block">
	<h2 class = "text-center">Hello, {{ user.username }}!</h2>
	<div class="text-center card-box">
		<div class="member-card pt-2 pb-2">
			<div class="thumb-lg member-thumb mx-auto"><img src="{{ user.pic.url }}" class="rounded-circle img-thumbnail" alt="profile-image"></div>
			<div class="">
				<h4>{{ user.username }}</h4>
				<h4>{{ user.email }}</h4>
			</div>
			<div class="mt-4">
				<span class = "about"> About this user:</span>
				<p class = "about-content">
				{% if user.about %}
				{{ user.about }}
				{% else %}
				Nothing about this user.
				{% endif %}
				</p>
			</div>
		</div>
	</div>
</div>
	</div>
{% endblock %}